.nav-bar{
        width: $col-size * $max-cols;
        display: flex;
        background-color: $color-primary;
        justify-content: flex-end;
        position: fixed;
        z-index: 999;
        box-shadow: 0px 1px 4px #595959;       
    }

.nav-bar__item{
    padding: 1.2rem;
    text-decoration: none;
    color: inherit;
    &-left{
        margin-right: auto;
    }
    &-active,&:hover{
        border-bottom: 0.2rem solid $color_accent;
    }
}

.nav-bar__items{
    display: flex;

}

.brand{
    background-color: $color-secondary;
    color: inherit;
    padding: 1.3rem;
}

.nav-bar__icon{
    display: none;
}

.navbar-offset {
    margin-top: 90px; }

@media all and (max-width: $phone-width){
    .nav-bar{
        align-content: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    .nav-bar__icon{
        display: block;
        padding: 1.5rem;
    }
    .nav-bar__items-collapse{
        display: none;
    
    }
    .brand{
        flex-grow: 1;
    }
    .navbar__item-active {
        display: inherit; }
}





