.jumbotron {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px; }

.jumbotron > p {
    font-size: 18px; }

 .logo {
    border: 2px solid $color-accent;
    background-color: $color-primary;
    border-radius: 50%;
    width: 160px;
    height: 160px; }